{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnFinity</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <h1>Learn<span class="color-danger">Finity</span></h1>
        </div>
        <div class="nav-bar-btns">
          
          <a href="{% url 'profile' %}"><button class="register-btn">Profile</button></div></a>
          <button class="streak">STREAK : 12</button></diV>
        </div>
      </div>
    </header>
    <section>
      <div class="content-container">
        <div class="left-container">
          <div class="text-content">
            <div class="text">
              <h1 class="solgan">Enjoy to Learn ..</h1>
              <p class="description">Study everything whatever enjoy and study it..</p>
            </div>
          </div>
          <div class="content-btn">
            <a href="{% url 'coursedashboard' %}"><button class="enroll-btn">Start Learning</button></a>
          </div>
        </div>
        <div class="right-container">
          <div class="image">
            <img src="./static/image-1.jpg" alt="sample-image" />
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="top-course">
        <h1>Top-courses:</h1>
        <div class="courses">
          <ul>
            <a href="{% url 'ai' %}"><li>AI</li></a>
            <a href="{% url 'cys' %}"><li>Cyber security</li></a>
            <a href="{% url 'blockchain' %}"><li>Block chain</li></a>
          </ul>
        </div>
      </div>
      <!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6712c8eb4304e3196ad3eb9d/1iagm1mte';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
    </section>
    
  </body>
</html>
